{% extends 'crowdfunding_web_app/base.html' %}

{% block body %} 

<div class="page-title background-page">
    <div class="container">
        <h1>Register</h1>
        <div class="breadcrumbs">
            <ul>
                <li><a href="index.html">Home</a><span>/</span></li>
                <li>Register</li>
            </ul>
        </div><!-- .breadcrumbs -->
    </div>
</div><!-- .page-title -->
<div class="container">
    <div class="main-content">
        <div class="form-login form-register">
            <h2>Register for Free</h2>
            {% include 'crowdfunding_web_app/alerts.html' %}
            <form action="{% url 'register' %}" method="POST" id="registerForm" class="clearfix">{% csrf_token %}
                  <div class="field">
                      <input type="text" value="" name="first_name" id="first_name" placeholder="First Name(Required)" required/>
                      <small id="first_name_error" class="text-danger"></small>
                    </div>
                  <div class="field">
                      <input type="text" value="" name="last_name" id="last_name" placeholder="Last Name(Required)" required/>
                      <small id="last_name_error" class="text-danger"></small>
                    </div>
                  <div class="field">
                      <input type="email" value="" name="email" id="email" placeholder="E-mail Address(Required)" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required/>
                      <small id="email_error" class="text-danger"></small>
                    </div>
                  <div class="field">
                      <input type="password" value="" name="password" id="password" placeholder="Password(Required)" pattern=".{8,}" required/>
                      <small id="password_error" class="text-danger"></small>
                      <div class="field">
                      <br>
                      <input type="password" value="" name="confirm_password" id="confirm_password" placeholder="Confirm Password" pattern=".{8,}" required/>
                      <small id="confirm_password_error" class="text-danger"></small>
                      <div class="field">
                    <br>
                    <!-- pattern="^01[012][0-9]{8}" -->
                       <input type="text" value="" name="phone_number" id="phone_number" placeholder="Mobile Phone(Required)"  />
                       <small id="phone_number_error" class="text-danger"></small>
                    </div>
                  <div class="field">
                    <br>
                       <!-- <input type="text" value="" name="country" id="country" placeholder="Country" /> -->
                  </div>
                  <div class="field">
                    <br>
                       <input type="date" value="" name="birth_date" id="" placeholder="Birth Date" />
                  </div>
                  <div class="inline clearfix">
                      <button type="submit" class="btn-primary">Register Account</button>
                      <p>Not a member yet? <a href="{% url 'login' %}">Login Now</a></p>
                  </div>
              </form>
        </div>
    </div>
</div>
{% load static %}

<script src='{% static "libs/js/registerFormpreventDefault.js" %}'></script>
{% endblock %}

