salamaaaaaaa


{% extends 'crowdfunding_web_app/base.html' %}

{% block body %} 


<div class="page-title background-page">
    <div class="container">
        <h1>Reset Your Password</h1>
        <div class="breadcrumbs">
            <ul>
                <li><a href="index.html">Home</a><span>/</span></li>
                <li>Retype Password</li>
            </ul>
        </div><!-- .breadcrumbs -->
    </div>
</div><!-- .page-title -->
<div class="container">
    <div class="main-content">
        <div class="form-login form-register">

            <h2>Please Enter Your New Passowrd For Email:</h2><br>
            
{% include 'crowdfunding_web_app/alerts.html' %}
<h3>{{ email }}<h3/>
    <br>
<!-- <form action= "http://localhost:8000/accounts/submit_password_new_value/ {{ key }}"  method = "POST" id="reset-password-form" class="clearfix">{% csrf_token %} -->
    <form action= "{% url 'submit_password_new_value' key %}"  method = "POST" id="reset-password-form" class="clearfix">{% csrf_token %}

    <div class="field">
    <div class="field">
        <!-- pattern=".{8,}" required -->
        <input type="password" value="" name="password" id="password" placeholder="Password(Required)"  />
        <small id="password_error" class="text-danger"></small>
        <div class="field">
        <br>
        <input type="password" value="" name="confirm_password" id="confirm_password" placeholder="Confirm Password"  />
        <small id="confirm_password_error" class="text-danger"></small>
    
    <div class="inline clearfix">
        <button type="submit" class="btn-primary">Reset Password</button>
    </div>
  </div>

{% load static %}
<script src='{% static "libs/js/reset_password.js" %}'></script>
{% endblock %}
