{% autoescape off %}
<h3>Hello, {{ username }}</h3>
<p>Please Verify your acccount for {{ email }} by clicking the Link below:</p>
<p>
    <a href="http://localhost:8000/accounts/reset_password/{{ key }}"> <button type="button" class="btn btn-primary">Verify Email</button> </a>
</p>
<p>Once you Verify your email can login!</p>
<p>Thank you,</p>
<h3>CrowdFunding</h3>
<h3><b>Note:</b></h3>
<p>This email will be expired after 24 houres of the sending time.</p>
<h3><b style="color: blue;">Kindly be notified that this email can be used only one time.</b></h3>
{% endautoescape %}