{% extends 'crowdfunding_web_app/base.html' %}

{% block body %}
    <div class="preloading">
        {#        <div class="preloader loading">#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#        </div>#}
    </div>
    <div class="staff-picks">
        <div class="container">
            <div class="border-title">
                <h2 class="title left-title">Highest Rated Projects</h2>
                <div class="description left-description">The highest rated projects that are currently active
                </div>
            </div>
            <div class="staff-picks-content">
                <div class="staff-picks-slider slider-controls-top owl-carousel">
                    {#                TODO#}
                    {% for project in highest_rated_projects %}


                        <div class="staff-picks-item clearfix">
                            <a class="staff-picks-image col-md-6 col-12" href="{% url 'view_project' project.id %}"><img
                                    src="{{ project.pictures.first.pic_path }}"
                                    alt=""></a>
                            <div class="staff-picks-item-content staff-picks-box">
                                <a href="#" class="category">{{ project.category }}</a>
                                <h3><a href="{% url 'view_project' project.id %}">{{ project.title }}</a></h3>
                                <div class="staff-picks-description">
                                    {{ project.description }}
                                </div>
                                <div class="staff-picks-author">
                                    <div class="author-profile">
                                        <a class="author-avatar" href="#"><img
                                                src="{{ project.owner.user_profile.profile_pic }}"
                                                alt=""></a>by
                                        <a class="author-name" href="#">{{ project.owner.get_full_name }}</a>
                                    </div>
                                    <div class="author-address"><span class="ion-location"></span>
                                        {{ project.country.name }}
                                    </div>
                                </div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged">
                                            <span>$
                                                {% if pledged_amount.amount__sum == None %}
                                                    0
                                                {% else %}
                                                    {{ project.pledged_amount.amount__sum }}
                                                {% endif %}
                                                </span>pledged
                                        </div>
                                        <div class="process-funded"><span>81%</span>funded</div>
                                        <div class="process-time"><span>{{ project.num_of_backers }}</span>backers</div>
                                        <div class="process-time"><span>23</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div><!-- .staff-picks -->

    <div class="latest campaign">
        <div class="container">
            <h2 class="title">Latest Featured Projects</h2>
            <div class="description">Latest projects that were chosen by our admins.</div>
            <div class="campaign-content">
                <div class="row">
                    {#                                        TODO#}
                    {% for fproject in latest_featured_projects %}
                        <div class="col-lg-4 col-md-6">
                            <div class="campaign-item">
                                <a class="overlay" href="{% url 'view_project' fproject.project.id %}">
                                    <img src="{{ fproject.project.pictures.first.pic_path }}" alt="">
                                    <span class="ion-ios-search-strong"></span>
                                </a>
                                <div class="campaign-box">
                                    <a href="#" class="category">{{ fproject.project.category }}</a>
                                    <h3><a href="{% url 'view_project' fproject.project.id %}">{{ fproject.project.title }}</a></h3>
                                    <div class="campaign-description">
                                        {{ fproject.project.description }}
                                    </div>
                                    <div class="campaign-author"><a class="author-icon" href="#"><img
                                            src="{{ fproject.project.owner.user_profile.profile_pic }}"
                                            alt=""></a>by <a class="author-name"
                                                             href="#">{{ fproject.project.owner.get_full_name }}</a>
                                    </div>
                                    <div class="process">
                                        <div class="raised"><span></span></div>
                                        <div class="process-info">
                                            <div class="process-pledged"><span>$630</span>pledged</div>
                                            <div class="process-funded"><span>26%</span>funded</div>
                                            <div class="process-time"><span>2</span>days ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="latest-button"><a href="projects" class="btn-primary">View all Projects</a></div>
        </div>
    </div><!-- .latest-featured-->

    <div class="latest campaign">
        <div class="container">
            <h2 class="title">Latest Projects</h2>
            <div class="description">Recently created projects.</div>
            <div class="campaign-content">
                <div class="row">
                    {#                    TODO#}
                    {% for project in latest_projects %}
                        <div class="col-lg-4 col-md-6">
                            <div class="campaign-item">
                                <a class="overlay" href="{% url 'view_project' project.id %}">
                                    <img src="{{ project.pictures.first.pic_path }}" alt="">
                                    <span class="ion-ios-search-strong"></span>
                                </a>
                                <div class="campaign-box">
                                    <a href="#" class="category">{{ project.category }}</a>
                                    <h3><a href="{% url 'view_project' project.id %}">{{ project.title }}</a></h3>
                                    <div class="campaign-description">
                                        {{ project.description }}
                                    </div>
                                    <div class="campaign-author"><a class="author-icon" href="#"><img
                                            src="{{ project.owner.user_profile.profile_pic }}"
                                            alt=""></a>by <a class="author-name"
                                                             href="#">{{ project.owner.get_full_name }}</a></div>
                                    <div class="process">
                                        <div class="raised"><span></span></div>
                                        <div class="process-info">
                                            <div class="process-pledged"><span>$630</span>pledged</div>
                                            <div class="process-funded"><span>26%</span>funded</div>
                                            <div class="process-time"><span>2</span>days ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="latest-button"><a href="projects" class="btn-primary">View all Projects</a></div>
        </div>
    </div><!-- .latest -->
{% endblock %}