{% extends 'crowdfunding_web_app/base.html' %}
{% load custom_tags %}
{% block body %}
    <div class="preloading">
        {#        <div class="preloader loading">#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#        </div>#}
    </div>
    <div class="staff-picks">
        <div class="container">
            <div class="border-title">
                <h2 class="title left-title">Highest Rated Projects</h2>
                <div class="description left-description">The highest rated projects that are currently active
                </div>
            </div>
            <div class="staff-picks-content">
                <div class="staff-picks-slider slider-controls-top owl-carousel">
                    {#                TODO#}
                    {% for project in highest_rated_projects %}


                        <div class="staff-picks-item clearfix">
                            <a class="staff-picks-image col-md-6 col-12"
                               href="{% url 'view_project' project.project_id %}"><img
                                    src="{{ project.project_pic }}"
                                    alt=""></a>
                            <div class="staff-picks-item-content staff-picks-box">
                                <a href="#" class="category">{{ project.project_category }}</a>
                                <h3>
                                    <a href="{% url 'view_project' project.project_id %}">{{ project.project_title }}</a>
                                </h3>
                                <div class="staff-picks-description">
                                    {{ project.project_desc }}
                                </div>
                                <div class="staff-picks-author">
                                    <div class="author-profile">
                                        <a class="author-avatar" href="#"><img
                                                src="{{ project.project_owner_img }}"
                                                alt=""></a>by
                                        <a class="author-name" href="#">{{ project.project_owner }}</a>
                                    </div>
                                    <div class="author-address"><span class="ion-location"></span>
                                        {{ project.project_country }}
                                    </div>
                                </div>
                                <div class="process">{% if project.pledged_amount.amount__sum %}
                                    {% percent_amount project.pledged_amount.amount__sum project.total_target as percentage %}
                                {% endif %}
                                    <div class="raised"><span style="width:{{ project.project_funded }}%"></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged">
                                            <span>${{ project.project_pledged }}</span>pledged
                                        </div>
                                        <div class="process-funded">
                                            <span>{{ project.project_funded }} %</span>funded
                                        </div>
                                        <div class="process-time"><span>{{ project.project_num_of_backers }}</span>backers
                                        </div>
                                        <div class="process-time">
                                            <span>{{ project.project_time_1 }}</span>{{ project.project_time_2 }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div><!-- .staff-picks -->

    <div class="latest campaign">
        <div class="container">
            <h2 class="title">Latest Featured Projects</h2>
            <div class="description">Latest projects that were chosen by our admins.</div>
            <div class="campaign-content">
                <div class="row">
                    {% for project in latest_featured_projects %}
                        <div class="col-lg-4 col-sm-6 col-6">
                            <div class="campaign-item">
                                <a class="overlay" href="{{ project.project_id }}">
                                    <img src="{{ project.project_pic }}" alt="">
                                    <span class="ion-ios-search-strong"></span>
                                </a>
                                <div class="campaign-box">
                                    <a href="#" class="category">{{ project.project_category }}</a>
                                    <h3><a href="{{ project.project_id }}">{{ project.project_title }}</a></h3>
                                    <div class="campaign-description"> {{ project.project_desc }}</div>
                                    <div class="campaign-author"><a class="author-icon" href="#"><img
                                            src="{{ project.project_owner_img }}" alt=""></a>by <a
                                            class="author-name" href="#">{{ project.project_owner }}</a>
                                    </div>
                                    <div class="process">
                                    <div class="raised"><span style="width:{{ project.project_funded }}%"></span></div>
                                        <div class="process-info">
                                            <div class="process-pledged">
                                                <span>${{ project.project_pledged }}</span>pledged
                                            </div>
                                            <div class="process-funded">
                                                <span>{{ project.project_funded }} %</span>funded
                                            </div>
                                            <div class="process-time">
                                                <span>{{ project.project_time_1 }}</span>{{ project.project_time_2 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
            <div class="latest-button"><a href="projects" class="btn-primary">View all Projects</a></div>
        </div>
    </div><!-- .latest-featured-->

    <div class="latest campaign">
        <div class="container">
            <h2 class="title">Latest Projects</h2>
            <div class="description">Recently created projects.</div>
            <div class="campaign-content">
                <div class="row">
                    {% for project in latest_projects %}
                        <div class="col-lg-4 col-sm-6 col-6">
                            <div class="campaign-item">
                                <a class="overlay" href="{{ project.project_id }}">
                                    <img src="{{ project.project_pic }}" alt="">
                                    <span class="ion-ios-search-strong"></span>
                                </a>
                                <div class="campaign-box">
                                    <a href="#" class="category">{{ project.project_category }}</a>
                                    <h3><a href="{{ project.project_id }}">{{ project.project_title }}</a></h3>
                                    <div class="campaign-description"> {{ project.project_desc }}</div>
                                    <div class="campaign-author"><a class="author-icon" href="#"><img
                                            src="{{ project.project_owner_img }}" alt=""></a>by <a
                                            class="author-name" href="#">{{ project.project_owner }}</a>
                                    </div>
                                    <div class="process">
                                    <div class="raised"><span style="width:{{ project.project_funded }}%"></span></div>
                                        <div class="process-info">
                                            <div class="process-pledged">
                                                <span>${{ project.project_pledged }}</span>pledged
                                            </div>
                                            <div class="process-funded">
                                                <span>{{ project.project_funded }} %</span>funded
                                            </div>
                                            <div class="process-time">
                                                <span>{{ project.project_time_1 }}</span>{{ project.project_time_2 }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
            <div class="latest-button"><a href="projects" class="btn-primary">View all Projects</a></div>
        </div>
    </div><!-- .latest -->
{% endblock %}