{% extends 'crowdfunding_web_app/base.html' %}

{% block body %}
    <div class="preloading">
        {#        <div class="preloader loading">#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#            <span class="slice"></span>#}
        {#        </div>#}
    </div>
    <div class="staff-picks">
        <div class="container">
            <div class="border-title">
                <h2 class="title left-title">Highest Rated Projects</h2>
                <div class="description left-description">The highest rated projects that are currently active
                </div>
            </div>
            <div class="staff-picks-content">
                <div class="staff-picks-slider slider-controls-top owl-carousel">
                    {#                TODO#}
                    {% for staff_pick in staff_picks %}

                    {% endfor %}
                    {% for project in highest_rated_projects %}


                        <div class="staff-picks-item clearfix">
                            <a class="staff-picks-image" href="campaign_detail.html"><img
                                    src="{{ project.pictures.first.pic_path }}"
                                    alt=""></a>
                            <div class="staff-picks-item-content staff-picks-box">
                                <a href="#" class="category">{{ project.category }}</a>
                                <h3><a href="{{ project.id }}">{{ project.title }}</a></h3>
                                <div class="staff-picks-description">
                                    {{ project.description }}
                                </div>
                                <div class="staff-picks-author">
                                    <div class="author-profile">
                                        <a class="author-avatar" href="#"><img
                                                src="{{ project.owner.user_profile.profile_pic }}"
                                                alt=""></a>by
                                        <a class="author-name" href="#">{{ project.owner.get_full_name }}</a>
                                    </div>
                                    <div class="author-address"><span class="ion-location"></span>
                                        {{ project.country.name }}
                                    </div>
                                </div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged">
                                            <span>$45000</span>pledged
                                        </div>
                                        <div class="process-funded"><span>81%</span>funded</div>
                                        <div class="process-time"><span>37</span>backers</div>
                                        <div class="process-time"><span>23</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div><!-- .staff-picks -->

    <div class="latest campaign">
        <div class="container">
            <h2 class="title">Latest Featured Campaigns</h2>
            <div class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</div>
            <div class="campaign-content">
                <div class="row">
                    {#                    TODO#}
                    <div class="col-lg-4 col-md-6">
                        <div class="campaign-item">
                            <a class="overlay" href="campaign_detail.html">
                                <img src="images/latest-01.jpg" alt="">
                                <span class="ion-ios-search-strong"></span>
                            </a>
                            <div class="campaign-box">
                                <a href="#" class="category">Crafts</a>
                                <h3><a href="campaign_detail.html">The Oreous Pillow</a></h3>
                                <div class="campaign-description">A watch designed to be an heirloom to be passed down
                                    to the next generation.
                                </div>
                                <div class="campaign-author"><a class="author-icon" href="#"><img
                                        src="images/author-01.png"
                                        alt=""></a>by <a class="author-name" href="#">Sabato
                                    Alterio</a></div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged"><span>$630</span>pledged</div>
                                        <div class="process-funded"><span>26%</span>funded</div>
                                        <div class="process-time"><span>2</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="campaign-item">
                            <a class="overlay" href="campaign_detail.html">
                                <img src="images/latest-02.jpg" alt="">
                                <span class="ion-ios-search-strong"></span>
                            </a>
                            <div class="campaign-box">
                                <a href="#" class="category">Book</a>
                                <h3><a href="campaign_detail.html">The Everlast Notebook</a></h3>
                                <div class="campaign-description">One mdart, reusable notebook to last the rest of your
                                    life? That's not magic, that's the Everlast.
                                </div>
                                <div class="campaign-author"><a class="author-icon" href="#"><img
                                        src="images/author-02.png"
                                        alt=""></a>by <a class="author-name" href="#">Samino</a></div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged"><span>$370</span>pledged</div>
                                        <div class="process-funded"><span>9%</span>funded</div>
                                        <div class="process-time"><span>9</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="campaign-item">
                            <a class="overlay" href="campaign_detail.html">
                                <img src="images/latest-03.jpg" alt="">
                                <span class="ion-ios-search-strong"></span>
                            </a>
                            <div class="campaign-box">
                                <a href="#" class="category">Perfomances</a>
                                <h3><a href="campaign_detail.html">Uncompromising Ski Gear</a></h3>
                                <div class="campaign-description">The Orsden Slope Pants don't compromise delivering
                                    performance, fit, and value directly to you
                                </div>
                                <div class="campaign-author"><a class="author-icon" href="#"><img
                                        src="images/author-03.png"
                                        alt=""></a>by <a class="author-name" href="#">Andrew
                                    Noah</a></div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged"><span>$610</span>pledged</div>
                                        <div class="process-funded"><span>73%</span>funded</div>
                                        <div class="process-time"><span>14</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="campaign-item">
                            <a class="overlay" href="campaign_detail.html">
                                <img src="images/latest-04.jpg" alt="">
                                <span class="ion-ios-search-strong"></span>
                            </a>
                            <div class="campaign-box">
                                <a href="#" class="category">Technology</a>
                                <h3><a href="campaign_detail.html">mdart Wallet with Solar Charge</a></h3>
                                <div class="campaign-description">A wonderful serenity has taken possession of my entire
                                    soul, like these sweet mornings.
                                </div>
                                <div class="campaign-author"><a class="author-icon" href="#"><img
                                        src="images/author-01.png"
                                        alt=""></a>by <a class="author-name" href="#">Andrew
                                    Noah</a></div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged"><span>$3670</span>pledged</div>
                                        <div class="process-funded"><span>58%</span>funded</div>
                                        <div class="process-time"><span>21</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="campaign-item">
                            <a class="overlay" href="campaign_detail.html">
                                <img src="images/latest-05.jpg" alt="">
                                <span class="ion-ios-search-strong"></span>
                            </a>
                            <div class="campaign-box">
                                <a href="#" class="category">Technology</a>
                                <h3><a href="campaign_detail.html">Redefine Your VR Experience</a></h3>
                                <div class="campaign-description">I enjoy with my whole heart. I am alone, and feel the
                                    charm of existence in this spot.
                                </div>
                                <div class="campaign-author"><a class="author-icon" href="#"><img
                                        src="images/author-02.png"
                                        alt=""></a>by <a class="author-name" href="#">Sabato
                                    Alterio</a></div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged"><span>$1950</span>pledged</div>
                                        <div class="process-funded"><span>70%</span>funded</div>
                                        <div class="process-time"><span>23</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="campaign-item">
                            <a class="overlay" href="campaign_detail.html">
                                <img src="images/latest-06.jpg" alt="">
                                <span class="ion-ios-search-strong"></span>
                            </a>
                            <div class="campaign-box">
                                <a href="#" class="category">Design &amp; Art</a>
                                <h3><a href="campaign_detail.html">Bring back Fun House</a></h3>
                                <div class="campaign-description">Far far away, behind the word mountains, far from the
                                    countries Vokalia and Consonantia.
                                </div>
                                <div class="campaign-author"><a class="author-icon" href="#"><img
                                        src="images/author-03.png"
                                        alt=""></a>by <a class="author-name" href="#">Samino</a></div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged"><span>$3900</span>pledged</div>
                                        <div class="process-funded"><span>69%</span>funded</div>
                                        <div class="process-time"><span>33</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="latest-button"><a href="#" class="btn-primary">View all Campaigns</a></div>
        </div>
    </div><!-- .latest-featured-->

    <div class="latest campaign">
        <div class="container">
            <h2 class="title">Latest Campaigns</h2>
            <div class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</div>
            <div class="campaign-content">
                <div class="row">
                    {#                    TODO#}
                    <div class="col-lg-4 col-md-6">
                        <div class="campaign-item">
                            <a class="overlay" href="campaign_detail.html">
                                <img src="images/latest-01.jpg" alt="">
                                <span class="ion-ios-search-strong"></span>
                            </a>
                            <div class="campaign-box">
                                <a href="#" class="category">Crafts</a>
                                <h3><a href="campaign_detail.html">The Oreous Pillow</a></h3>
                                <div class="campaign-description">A watch designed to be an heirloom to be passed down
                                    to the next generation.
                                </div>
                                <div class="campaign-author"><a class="author-icon" href="#"><img
                                        src="images/author-01.png"
                                        alt=""></a>by <a class="author-name" href="#">Sabato
                                    Alterio</a></div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged"><span>$630</span>pledged</div>
                                        <div class="process-funded"><span>26%</span>funded</div>
                                        <div class="process-time"><span>2</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="campaign-item">
                            <a class="overlay" href="campaign_detail.html">
                                <img src="images/latest-02.jpg" alt="">
                                <span class="ion-ios-search-strong"></span>
                            </a>
                            <div class="campaign-box">
                                <a href="#" class="category">Book</a>
                                <h3><a href="campaign_detail.html">The Everlast Notebook</a></h3>
                                <div class="campaign-description">One mdart, reusable notebook to last the rest of your
                                    life? That's not magic, that's the Everlast.
                                </div>
                                <div class="campaign-author"><a class="author-icon" href="#"><img
                                        src="images/author-02.png"
                                        alt=""></a>by <a class="author-name" href="#">Samino</a></div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged"><span>$370</span>pledged</div>
                                        <div class="process-funded"><span>9%</span>funded</div>
                                        <div class="process-time"><span>9</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="campaign-item">
                            <a class="overlay" href="campaign_detail.html">
                                <img src="images/latest-03.jpg" alt="">
                                <span class="ion-ios-search-strong"></span>
                            </a>
                            <div class="campaign-box">
                                <a href="#" class="category">Perfomances</a>
                                <h3><a href="campaign_detail.html">Uncompromising Ski Gear</a></h3>
                                <div class="campaign-description">The Orsden Slope Pants don't compromise delivering
                                    performance, fit, and value directly to you
                                </div>
                                <div class="campaign-author"><a class="author-icon" href="#"><img
                                        src="images/author-03.png"
                                        alt=""></a>by <a class="author-name" href="#">Andrew
                                    Noah</a></div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged"><span>$610</span>pledged</div>
                                        <div class="process-funded"><span>73%</span>funded</div>
                                        <div class="process-time"><span>14</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="campaign-item">
                            <a class="overlay" href="campaign_detail.html">
                                <img src="images/latest-04.jpg" alt="">
                                <span class="ion-ios-search-strong"></span>
                            </a>
                            <div class="campaign-box">
                                <a href="#" class="category">Technology</a>
                                <h3><a href="campaign_detail.html">mdart Wallet with Solar Charge</a></h3>
                                <div class="campaign-description">A wonderful serenity has taken possession of my entire
                                    soul, like these sweet mornings.
                                </div>
                                <div class="campaign-author"><a class="author-icon" href="#"><img
                                        src="images/author-01.png"
                                        alt=""></a>by <a class="author-name" href="#">Andrew
                                    Noah</a></div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged"><span>$3670</span>pledged</div>
                                        <div class="process-funded"><span>58%</span>funded</div>
                                        <div class="process-time"><span>21</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="campaign-item">
                            <a class="overlay" href="campaign_detail.html">
                                <img src="images/latest-05.jpg" alt="">
                                <span class="ion-ios-search-strong"></span>
                            </a>
                            <div class="campaign-box">
                                <a href="#" class="category">Technology</a>
                                <h3><a href="campaign_detail.html">Redefine Your VR Experience</a></h3>
                                <div class="campaign-description">I enjoy with my whole heart. I am alone, and feel the
                                    charm of existence in this spot.
                                </div>
                                <div class="campaign-author"><a class="author-icon" href="#"><img
                                        src="images/author-02.png"
                                        alt=""></a>by <a class="author-name" href="#">Sabato
                                    Alterio</a></div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged"><span>$1950</span>pledged</div>
                                        <div class="process-funded"><span>70%</span>funded</div>
                                        <div class="process-time"><span>23</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="campaign-item">
                            <a class="overlay" href="campaign_detail.html">
                                <img src="images/latest-06.jpg" alt="">
                                <span class="ion-ios-search-strong"></span>
                            </a>
                            <div class="campaign-box">
                                <a href="#" class="category">Design &amp; Art</a>
                                <h3><a href="campaign_detail.html">Bring back Fun House</a></h3>
                                <div class="campaign-description">Far far away, behind the word mountains, far from the
                                    countries Vokalia and Consonantia.
                                </div>
                                <div class="campaign-author"><a class="author-icon" href="#"><img
                                        src="images/author-03.png"
                                        alt=""></a>by <a class="author-name" href="#">Samino</a></div>
                                <div class="process">
                                    <div class="raised"><span></span></div>
                                    <div class="process-info">
                                        <div class="process-pledged"><span>$3900</span>pledged</div>
                                        <div class="process-funded"><span>69%</span>funded</div>
                                        <div class="process-time"><span>33</span>days ago</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="latest-button"><a href="#" class="btn-primary">View all Campaigns</a></div>
        </div>
    </div><!-- .latest -->
{% endblock %}