{% extends 'crowdfunding_web_app/base.html' %}
{% load countries %}
{% get_countries as countries %}

{% block body %}
    <div class="page-title background-campaign">
        <div class="container">
            <h1>Start a project</h1>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="index.html">Home</a><span>/</span></li>
                    <li>Start a project</li>
                </ul>
            </div><!-- .breadcrumbs -->
        </div>
    </div><!-- .page-title -->
    <div class="campaign-form form-update">
        <div class="container">
            <br/>
            {% include 'crowdfunding_web_app/alerts.html' %}
            <br/>
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h4>Start a project</h4>
                <div class="field">
                    <label for="title">Project Title *</label>
                    <span class="label-desc">What is the title of your project?</span>
                    <input type="text" value="" id="title" name="title" placeholder="The Oreous Pillow"/>
                </div>
                <div class="field">
                    <label for="campaigndesc">Project Description *</label>
                    <span class="label-desc">Provide a short description that best describes your project to your audience.</span>
                    <textarea rows="4" id="campaigndesc" name="description"
                              placeholder="Enter a few tagline"></textarea>
                </div>
                <div class="field">
                    <label for="uploadfile">Project Image *</label>
                    <span class="label-desc">Upload a square image that represents your project. 570 x 350 recommended resolution.</span>
                    <div class="list-upload">
                        <div class="file-upload">
                            <div class="upload-bg">
                                <div id="myfileupload">
                                    <input type="file" id="uploadfile" name="ImageUpload" onchange="readURL(this);"/>
                                </div>
                                <div id="thumbbox">
                                    <img src="images/assets/logo.png" height="100" width="100" alt="Thumb image"
                                         id="thumbimage"/>
                                    <a class="removeimg" href="javascript:"></a>
                                </div>
                                <div id="boxchoice">
                                    <a href="javascript:" class="choicefile"><i class="fa fa-cloud-upload"
                                                                                aria-hidden="true"></i> Upload Image</a>
                                    <p></p>
                                </div>
                                <label class="filename"></label>
                            </div>
                        </div>
                        <div class="file-upload">
                            <div class="upload-bg">
                                <div id="myfileupload1">
                                    <input type="file" id="uploadfile1" name="ImageUpload" onchange="readURL1(this);"/>
                                </div>
                                <div id="thumbbox1">
                                    <img src="images/assets/logo.png" height="100" width="100" alt="Thumb image"
                                         id="thumbimage1"/>
                                    <a class="removeimg1" href="javascript:"></a>
                                </div>
                                <div id="boxchoice1">
                                    <a href="javascript:" class="choicefile1"><i class="fa fa-cloud-upload"
                                                                                 aria-hidden="true"></i> Upload
                                        Image</a>
                                    <p></p>
                                </div>
                                <label class="filename1"></label>
                            </div>
                        </div>
                        <div class="file-upload">
                            <div class="upload-bg">
                                <div id="myfileupload2">
                                    <input type="file" id="uploadfile2" name="ImageUpload" onchange="readURL2(this);"/>
                                </div>
                                <div id="thumbbox2">
                                    <img src="images/assets/logo.png" height="100" width="100" alt="Thumb image"
                                         id="thumbimage2"/>
                                    <a class="removeimg2" href="javascript:"></a>
                                </div>
                                <div id="boxchoice2">
                                    <a href="javascript:" class="choicefile2"><i class="fa fa-cloud-upload"
                                                                                 aria-hidden="true"></i> Upload
                                        Image</a>
                                    <p></p>
                                </div>
                                <label class="filename2"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field clearfix">
                    <label for="clocation">Project Location *</label>
                    <span class="label-desc">Choose the location where you are running the project.</span>
                    <div class="field">
                        <div class="field-select">
                            <select name="country">
                                {% for country in countries %}
                                    <option value="{{ country.code }}">{{ country.name }}</option>
                                {% endfor %}

                                {#                                {% for country in countries %}#}
                                {#                                    <option value="{{ country.id }}">{{ country.name }}</option>#}
                                {#                                {% endfor %}#}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label for="ccat">Project Category *</label>
                    <span class="label-desc">To help backers find your project, select a category that best represents your project.</span>
                    <div class="field-select">
                        <select name="category" id="ccat">
                            {#                            <option value="">Select a Category</option>#}
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label for="cduration">Project Duration *</label>
                    <span class="label-desc">You can run a project for any number of days, with a 365 day duration maximum.</span>
                    <input type="text" id="cduration" value="" name="duration" placeholder="60 days"/>
                </div>

                <div class="field">
                    <label for="cduration">Project Total target *</label>
                    <span class="label-desc">You can put any target for a project</span>
                    <input type="text" value="" name="target" placeholder="100000 dollars"/>
                </div>
                <button type="submit" value="Save & Launch" class="btn-primary">Save &amp; Launch</button>
            </form>
        </div>
    </div><!-- .campaign-form -->
    <br><br><br><br>
{% endblock %}
