{% extends 'crowdfunding_web_app/base.html' %}
{% block body %} 
			<div class="page-title background-page">
				<div class="container">
					<h1>Login</h1>
					<div class="breadcrumbs">
						<ul>
							<li><a href="index.html">Home</a><span>/</span></li>
							<li>Login</li>
						</ul>
					</div><!-- .breadcrumbs -->
				</div>
			</div><!-- .page-title -->
			<div class="container">
				<div class="main-content">
					<div class="form-login">
						<h2>Log in with your account</h2>
						{% include 'alerts.html' %}
						<form action="{% url 'login' %}" method="POST" id="loginForm" class="clearfix">
							{% csrf_token %}
			  				<div class="field">
			  					<input type="email" value="" name="s" placeholder="E-mail Address" />
			  				</div>
			  				<div class="field">
			  					<input type="text" value="" name="s" placeholder="Password" />
			  				</div>
			  				<div class="inline clearfix">
						  		<button type="submit" value="Send Messager" class="btn-primary">Login</button>
						  		<p>Not a member yet? <a href="register.html">Register Now</a></p>
						  	</div>
					  	</form>
					</div>
				</div>
			</div>	

{% endblock %}
<script src="preventDefault.js"></script>